
<ion-view>
   <ion-content class="has-footer">
    	<!-- {{pharmacyInfoArray[0].object.get("businessName")}} -->
    	<div class="list card">

		  <div class="item item-avatar">
		    <img src="img/logo.svg">
		    <h2>{{title}}</h2>
		    <p>{{day}}, {{currDate.month}} {{currDate.date}}</p>
		  </div>

		  <div class="item item-body">
		    <!-- <img class="full-image" src=""> -->
		    <p>
		    	<b>
		    		<font>Total Deliveries : {{deliveries.length}}<br></font> 
		    		<font>Total Earnings : ${{pharmacyOrdersArray[0].totalCost}} <br></font> 
		    	</b>
		      	
		    	<hr ng-show="details">
		      	<font ng-show="details">Under 10 Km : {{pharmacyOrdersArray[0].under10Km[0]}} x ${{pharmacyOrdersArray[0].object[0].get("pharmacyID").get("pharmacyInfo").get("priceRate")}} = $ {{pharmacyOrdersArray[0].under10Km[1]}}<br></font> 
			    
			    <font ng-show="details">Under 20 Km : {{pharmacyOrdersArray[0].under20Km[0]}} x ${{pharmacyOrdersArray[0].object[0].get("pharmacyID").get("pharmacyInfo").get("priceRateOver10Km")}} = $ {{pharmacyOrdersArray[0].under20Km[1]}}<br></font> 
			    
			    <font ng-show="details">Under 30 Km : {{pharmacyOrdersArray[0].under30Km[0]}} x ${{pharmacyOrdersArray[0].object[0].get("pharmacyID").get("pharmacyInfo").get("priceRateOver20Km")}} = ${{pharmacyOrdersArray[0].under30Km[1]}}<br></font> 
			    
			    <font ng-show="details">Over 30 Km : {{pharmacyOrdersArray[0].over30Km[0]}} x ${{pharmacyOrdersArray[0].object[0].get("pharmacyID").get("pharmacyInfo").get("priceRateOver30Km")}} = ${{pharmacyOrdersArray[0].over30Km[1]}}<br></font> 
		     
		      	
		    </p>
		    <p>
		      <a ng-click="flipDetails()" class="subdued">Detail <i class="icon ion-pie-graph"></i> </a>
		      <a href="#" class="subdued">Email <i class="icon ion-ios-email"></i> </a>
		    </p>
		  </div>

		</div>


    	<ion-list>
    		<div class="item assertive item-divider" ng-click="flipShowPending()">
    			<i class="icon ion-more"></i>
		    	Pending
		    	<span class="badge badge-assertive">{{currPharmacyOrdersDetailArray.pending.length}}</span>
			</div>
			<div class="card" ng-show="noPendingOrdersCard">
			  <div class="item item-text-wrap">
			    No pending orders <i class="icon ion-happy-outline"></i>
			  </div>
			</div>
		    <ion-item ng-show="showPending" ng-repeat="pharmacy in pharmacyOrdersArray[0].pending">
				  <a class="item item-avatar" ng-click="assignDriverSingleDelivery({{pharmacy}})">
				    <img src="img/logo.svg">
				    <h2>{{patientsMap.get(pharmacy.get("patientId").id).get("name").toUpperCase()}}</h2>
				    <h4>{{patientsMap.get(pharmacy.get("patientId").id).get("address")}}</h4>
				    <h4 class="subdued">Distance : {{patientsMap.get(pharmacy.get("patientId").id).get("distanceFromPharmacy").toFixed(2)}} KM</h4>
				    <h4 class="subdued ">Status : {{pharmacy.get("deliveryStatus")}}</h4>
				  </a>
		    </ion-item>

		    <div class="item energized item-divider" ng-click="flipShowInProgress()">
    			<i class="icon ion-load-a"></i>
		    	In Progress
		    	<span class="badge badge-energized">{{currPharmacyOrdersDetailArray.inProgress.length}}</span>
			</div>
			<div class="card" ng-show="noInProgressOrdersCard">
			  <div class="item item-text-wrap">
			    No orders in progress
			  </div>
			</div>
		    <ion-item ng-show="showInProgress" ng-repeat="pharmacy in pharmacyOrdersArray[0].inProgress">
				  <a class="item item-avatar" ng-click="assignDriverSingleDelivery({{pharmacy}})">
				    <img src="img/logo.svg">
				    <h2>{{patientsMap.get(pharmacy.get("patientId").id).get("name").toUpperCase()}}</h2>
				    <h4>{{patientsMap.get(pharmacy.get("patientId").id).get("address")}}</h4>
				    <h4 class="subdued">Distance : {{patientsMap.get(pharmacy.get("patientId").id).get("distanceFromPharmacy").toFixed(2)}} KM</h4>
				    <h4 class="subdued ">Status : {{pharmacy.get("deliveryStatus")}}</h4>
				  </a>
		    </ion-item>

		    <div class="item balanced item-divider" ng-click="flipShowCompleted()">
    			<i class="icon ion-checkmark"></i>
		    	Completed
		    	<span class="badge badge-balanced">{{currPharmacyOrdersDetailArray.completed.length}}</span>
			</div>
			<div class="card" ng-show="noCompletedOrdersCard">
			  <div class="item item-text-wrap">
			    No orders completed
			  </div>
			</div>
		    <ion-item ng-show="showCompleted" ng-repeat="pharmacy in pharmacyOrdersArray[0].completed">
				  <a class="item item-avatar" ng-click="assignDriverSingleDelivery({{pharmacy}})">
				    <img src="img/logo.svg">
				    <h2>{{patientsMap.get(pharmacy.get("patientId").id).get("name").toUpperCase()}}</h2>
				    <h4>{{patientsMap.get(pharmacy.get("patientId").id).get("address")}}</h4>
				    <h4 class="subdued">Distance : {{patientsMap.get(pharmacy.get("patientId").id).get("distanceFromPharmacy").toFixed(2)}} KM</h4>
				    <h4 class="subdued ">Status : {{pharmacy.get("deliveryStatus")}}</h4>
				  </a>
		    </ion-item>
		</ion-list>



   </ion-content>

   	<ion-footer-bar align-title="left" class="bar-assertive">
	  	<div class="buttons">
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button" ng-click="assignDriver(pharmacyOrdersArray[0].pending)">
				Assign All Pending
				<i class="icon ion-model-s"></i>
			</button>
		</div>
	</ion-footer-bar>

 </ion-view>

 